{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "globals": {
    "fabric": true,
    "document": true,
    "window": true,
    "Image": true
  },
  "rules": {
    "no-console": "off",
    "jsx-a11y/label-has-for": "off",
  }
}
